
<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Covid-19: Brasil tem a maior média móvel de mortes em seis meses</title>
        <link rel="icon" href="../static/img/icone.svg">
        <!--Fontawesome-->
        <script src="https://kit.fontawesome.com/a5ad30f95d.js" crossorigin="anonymous"></script>
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!--Css-->
        <link rel="stylesheet" href="/static/styles/styles-news.css">
    </head>
    <body>
    <!--Navbar-->
    <header>
        <div id="navbar" class="navbar navbar-dark bg-rgb(14, 125, 221) shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="/static/img/virus.svg" width="50" height="50" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"></img>
                    <strong><h1>Portal Covid</h1></strong>
                </a>
                <nav class="nav">
                    <a class="nav-link active text-white fs-5" href="/">Home</a>
                </nav>
            </div>
        </div>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      Estados
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header" style="background:rgb(14,125,221);">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="color: white;">Estados</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        {% for bandeira in bandeiras_list %}
        <div class="dropdown mt-3">
        <img style="width: 25px" src="{{bandeira.get_bandeira()}}">
          <a href="{{url_for('Estado', id=bandeira.get_id())}}"class="btn btn-primary"> 
            {{bandeira.get_titulo()}}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    </header>
    <!--Corpo principal-->
    <main>
        <div class="main-container w-50 m-auto my-5">
            <div class="conteúdo d-flex flex-column">
                <h1>{{noticias.get_titulo()}}</h1>
                <div>
                    <img class=" w-100" src="{{noticias.get_imagem()}}">
                    <p class="font-weight-bold fs-4">{{noticias.get_conteudo()}}</p>
                    <p class="font-weight-bold fs-4 my-5"> Compartilhar<a href="#"><img src="/static/img/share.svg" height="30" width="30" class="m-left"></a></p>
                </div>
            </div>
        </div>
        </main>
        <!--Footer-->
        <footer id="myFooter" class="footer my-5">
            <div class="footer-social">
                <a href="" class="social-icons"><i class="fa fa-facebook"></i></a>
                <a href="" class="social-icons"><i class="fa fa-instagram"></i></a>
                <a href="" class="social-icons"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="m-auto text-center">
                <div class="">
                    <i class="fas fa-phone"></i>
                    <p>Ligue para: (99)99999-9999</p>
                </div>
                <p>Horários: das 8:00 às 19:00</p>
                <div class="">
                    <i class="fas fa-envelope"></i>
                    <p>Envie um email para: contato@jornalcovid.com.br</p>
                </div>
                <p class="footer-copyright">© 2022 Copyright - Jornal Covid</p>
            </div>
        </footer>
        <!--scripts do projeto-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
    