
body {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(14, 125, 221);
    margin-bottom: 5px;
}
.Estados {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*carousel*/
.carousel-ancor {
    text-decoration: none;
    color: inherit;
    transition: .2s;
}
.carousel-ancor:hover {
    text-decoration: none;
    transform: scale(3.5);
    color: inherit;
}


/*Footer*/
#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #777;
    padding: 0;
    margin: 0;
}
#myFooter a{
    color: #282b2d;
    font-size: 18px;
}
#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}
#myFooter .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(14, 125, 221);
}
#myfooter .contact-box {
    text-align: center;
    margin: auto;
}
#myFooter .fa{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}
#myFooter .fa-facebook:hover{
   color: #2b55ff;
}
#myFooter .fa-facebook:focus{
    color: #2b55ff; 
}
#myFooter .fa-instagram:hover{
    color:purple;
}
#myFooter .fa-instagram:focus{
    color:purple;
}
#myFooter .fa-twitter:hover{
    color: #00aced;

}
#myFooter .fa-twitter:focus{
    color:#00aced;
}
/*scrollbar*/
*::-webkit-scrollbar{
    width: 15px;
}
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    #carouselExampleIndicators{
        overflow-x: hidden;
    }
}